*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
    background: linear-gradient(90deg, #1a1208, #000000);
}  
a{
    color: white;
    text-decoration: none;
    font-size: 15px;
} 

.navbar{
    width: 100%;
    height: 70px;
     position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
   

    
}



#logo{
    width: 18%;
    height: 40px;
    border: 2px solid #d4a84b;
    border-radius: 5%;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.logo-icon{
    color: #d4a84b;
}

.navbar ul{
display: flex;
justify-content: center;
align-items: center;
gap: 25px;
text-transform: uppercase;
list-style: none;
}

.navbar div {
    width: 23%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
button{
    width: 100%;
    height: 40px;
    border: 2px solid #d4a84b;
    background-color: #d4a84b;
    text-transform: uppercase;
}

#box{
    width: 100%;
    height: 150vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#box1{
    width: 48%;
    height: 120vh;
    /* border: 2px solid green; */
   padding: 20px 20px;
   margin: 20px;
   
}


#box1-box1{
    width: 40%;
    height: 50px;
    /* border: 2px solid red; */
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #76716b19;
    margin-bottom: 15px;
}

#box1-box2{
  width: 70%;
  height: 200px;
  /* border: 2px solid red; */
  font-size: 50px;
  font-family: cursive;
  color: white;
  margin-bottom: 15px;

  
}
#box1-box3{
    width: 80%;
    height: 120px;
    /* border: 2px solid red; */
    font-size: 20px;
    color: white;
    margin-bottom: 15px ;

    
}
#box1-box4{
    width: 100%;
    height: 100px;
    /* border: 2px solid red; */
    margin-bottom: 15px;
   
}
#box1-box5{
    width: 80%;
    height: 100px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-btn{
    width: 40%;
    height: 50px;
    /* border: 2px solid red; */
   border: 1px solid #d4a84b;
   margin: 8pxpx;
   
    
}
.rating{
    width: 30%;
    height: 80px;
    /* border: 2px solid green; */
    color: #d4a84b;
    font-size: 20px;
   padding: 10px 10px;
   /* padding-top: 10px; */

     
}
.para{
    font-size: 15px;
    color: white;
   
}
#box2{
    width: 40%;
    height: 100vh;
    /* border: 2px solid green; */
    background-color: #76716b19;

  padding-left: 50px;
}



.box2-box1{
   width: 80%;
   height: 40px;
   /* border: 1px solid red; */
   display: flex;
   justify-content: space-between;
   align-items: center;

}

.box2-box2{
    width: 80%;
    height: 100px;
    /* border: 1px solid red; */
}
.box2-box3{
    width: 80%;
    height: 350px;
    /* border: 1px solid red; */
   display: grid;
   grid-template-columns: repeat(2,200px);
   gap: 16px;
  
}
.live{
    color: green;
}

#price{
    width: 30%;
    height: 50px;
    /* border: 1px solid red; */
    color: white;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


    display: flex;
    justify-content: center;
    align-items: center;
}
#price-rating{
    width: 40%;
    height: 30px;
    /* border: 1px solid red; */
    color: rgb(0, 7, 0);
    background-color: rgb(83, 215, 83);
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.price-metal{
    width: 200px;
    height: 25vh;
    /* border: 1px solid white; */

}

.metal-name{
    width: 60%;
    height: 25px;
    /* border: 1px solid yellow; */
    margin-left: 30px;
    margin-top: 15px;
    color: #6B6560;
    font-size: 15px;
   

}

.metal-price{
     width: 40%;
    height: 40px;
    /* border: 1px solid yellow; */
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       margin-left: 30px;
       margin-top: 15px;
       padding-top: 10px;

     

}

.metal-rating{
     width: 40%;
    height: 35px;
    /* border: 1px solid yellow; */
    color: green;
    font-size: 15px;
       margin-left: 30px;
       margin-top: 5px;

}

/* second section */

.container{
    width: 100%;
    height: 130vh;
    /* border: 2px solid red; */
    background-color: #76716b19;

}

.main-container{
    width: 100%;
    height: 65vh;
    /* border: 2px solid green; */

   padding-left: 350px;
   padding-top: 70px;
    
}

.service1{
    width: 60%;
    height: 60px;
    /* border: 2px solid blue; */
    padding-right:80px ;

    color: #d4a84b;
    text-transform: uppercase;
    font-size: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.service2{
    width: 60%;
    height: 120px;
    /* border: 2px solid blue; */

    color: white;
    font-size: 45px;
    font-weight: 500;
    padding-left: 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.service3{
    width: 60%;
    height: 80px;
    /* border: 2px solid blue; */
    padding-top: 25px;
    padding-left: 20px;

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.main-container2{
      width: 100%;
    height: 70vh;
    /* border: 2px solid red; */
    padding: 15px;
    padding-bottom: 30px;
    


    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.detail{
    width: 350px;
    height: 250px;
    /* border: 2px solid green; */
    padding-left: 35px;
    padding-top: 20px;
    
}
.detail:hover{
    background-color: #5f5641;
    border-top: 2px solid #d4a84b;
    border-bottom: 1px solid #d4a84b;
    border-left: 1px solid #d4a84b;
    border-right: 1px solid #d4a84b;
    
    transition: 0.6s ease;
}
.detail-logo{
    width: 80%;
    height: 80px;
    /* border: 1px solid greenyellow; */

    display: flex;
    justify-content: center;
    align-items: center;
}
.detail-title{
    width: 80%;
    height: 35px;
    /* border: 1px solid greenyellow; */
    color: white;
    font-size: 15px;
    font-weight: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.detail-content{
    width: 80%;
    height: 100px;
    /* border: 1px solid greenyellow; */
    color: #A69F94;

    
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-logo-icon{
    width: 30%;
    height: 10vh;
    border: 1px solid #d4a84b;
    color: #d4a84b;
    font-size: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    
}

.detail-logo-icon:hover{
    background-color: #d4a84b;
    color: white;
}

#third-section{
    width: 100%;
    height: 130vh;
    /* border: 2px solid red; */

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;


}

.card{

    width: 50%;
    height: 110vh;
    /* border: 2px solid green; */
    padding-left: 30px;
    padding-top: 30px;

   
}

.card1{
    width: 80%;
    height: 30px;
    /* border: 1px solid yellow; */
}
.card2{
    width: 80%;
    height: 100px;
    /* border: 1px solid yellow; */
    color: white;
    font-size: 40px;
}

.card3{
    width: 80%;
    height: 120px;
    /* border: 1px solid yellow; */

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.card3-1{
    width: 20%;
    height: 120px;
    /* border: 1px solid red; */
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card3-2{
    width: 70%;
    height: 120px;
    /* border: 1px solid green; */
}

.card-3-2-1{
    width: 100%;
    height: 30px;
    /* border: 2px solid yellow; */
    color: white;
}

.card-3-2-2{
    width: 100%;
    height: 80px;
    /* border: 2px solid yellow; */
    color: white;
}
.pic{
    width: 100%;
    height: 60vh;
    /* border: 3px solid green; */


     display: flex;
    justify-content: center;
    align-items: center; 
    gap: 15px;
}


.big-pic{
    width: 60%;
    height: 60vh;
    /* border: 1px solid red; */
}

.small-pic{
    width: 35%;
    height: 30vh;
    /* border: 1px solid red; */
}

.small-pic-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}

#big-image{
    width: 100%;
    height:58vh ;
}

#small-image{
    width: 100%;
    height: 30vh;
   
}